<html>

<head>
    <title>
        <%=title %>
    </title>
    <link rel="stylesheet" href="./css/todo.css">
</head>

<body class="main">
    <div>

        <header>
            <div> TODO APP</div>
        </header>
        <section>
            <form action="/addTodo" method="POST">

                <div>
                    <div>
                        <label for="desc">Description</label>
                        <input type="text" class="desc" id="desc" name="desc" required />
                    </div>

                    <div class="category_container">
                        <div class="item">
                            <label for="cat">Category</label>
                            <select id="cat" name="category" required>
                                <option>WORK</option>
                                <option>PERSONAL</option>
                                <option>PUBLIC</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="datee">Due date</label>
                            <input type="date" id="datee" name="dueDate" required />
                        </div>
                    </div>
                </div>
                <div class="buttonContainer">
                    <button type="submit">
                        + Add Task
                    </button>
                    <button onclick="getValue()">- Delete Task</button>
                </div>
            </form>

            <hr />

            <div class="list">
                <% for(item of list) { %>
                    <div class="listItem">
                        <input type="checkbox" name="chk" value="<%= item._id %>">
                        <div class="itemInner">
                            <div>
                                <div class="taskName">
                                    <%=item.desc %>
                                </div>
                                <div>
                                    <%=item.dueDate %>

                                </div>
                            </div>
                            <button>
                                <%=item.category %>
                            </button>
                        </div>
                    </div>
                    <% } %>
            </div>
        </section>
    </div>
    <script>
        async function getValue() {
            var checkboxes = document.getElementsByName('chk');
            var result = []
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked)
                    result.push(checkboxes[i].value)
            }
            const URL = '/deleteTodo/' + result.join(',');
            fetch(URL, { method: 'GET' }).then(x => {
                location.reload()
            });
        }
    </script>
</body>

</html>